@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;

}



body {
    font-family: 'Itim',
        cursive;
}

#container {
    background: rgb(143, 86, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.bar {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    background: black;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

#button {
    background-color: rgb(211, 211, 26);
    padding: 5px;
}

header img {
    max-width: 100%;
}

div>img {
    max-width: 25%;
}

#why {
    min-height: 20%;
    text-align: center;
}

#why p {
    padding-left: 20%;
    padding-right: 20%;
}

p {
    font-size: 25px;
    text-align: center;
}

footer {
    background-color: bisque;
    background-size: 100% 100%;
    padding: 10% 10%;

}